{% extends "default/base.html" %}

{% block main %}
{% load bootstrap %}

    <form role="form" method="post" class="form-horizontal">
        <legend>ICO signup form</legend>

        {{ test }}

        {% csrf_token %}
        {{ form|bootstrap_horizontal }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>

{% endblock %}
