@import '../../../../style/global/global.scss';


.ordersPreloader {
    position: absolute;
}

.ordersListWrapper {
    margin: 0 0 20px 0;
    & ul[data-el="title"] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        border-bottom: solid 2px;
        & li:nth-child(2) {
            font-size: var(--font-size-tiny);
            color: var(--color-text-secondary)
        }
    }
    & ul[data-el="list"] {
        margin: 10px 0 0;
        cursor: default;

        & ul {
            display: flex;
            white-space: nowrap;
            align-items: center;
            & li {
                flex: 1 1 auto;
                text-align: right;
                font-size: var(--font-size-tiny);
                padding: 2px 10px 0 0;
                box-sizing: border-box;

            }
            & li:nth-child(1) {
                min-width: 15px;
                max-width: 15px;
                display: none;
            }
            & li:nth-child(2) {
                min-width: 30px;
                max-width: 30px;
                & [data-el="userIcon"] {
                    cursor: pointer;
                    transition: var(--transition-2);
                }
                & [data-el="userIcon"]:hover {
                    opacity: .7;
                }
            }
            & li:nth-child(3),
            & li:nth-child(4),
            & li:nth-child(5) {
                min-width: calc( (100% - 30px) / 3);
                max-width: calc( (100% - 30px) / 3);
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
        & [data-el="rowHeader"] {
            color: var(--color-text-secondary);
        }

        & [data-el="rowOrderOwner"],
        & [data-el="rowOrder"] {
            border: solid 1px transparent;
            border-radius: var(--border-radius);
            height: 20px;
            & [data-el="price"] {
                font-weight: var(--font-weight-semi-bold);
            }
        }


        & [data-el="volumeBar"] {
            display: flex;
            justify-content: flex-end;
            margin-bottom: -21px;
            pointer-events: none;
            & > div {
                transition: var(--transition-5);
                height: 20px;
                opacity: .15;
            }
        }
        & [data-el="volumeBar"]:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 10px 14px 10px 0;
            // border-color: transparent #007bff transparent transparent;
            margin: 0px 0 0 -14px;
            opacity: .15;
        }
    }
}

[data-el='arr_asks'] {
    & ul[data-el="title"] {
        border-color: var(--color-accent) !important;
    }
    & ul[data-el="list"] {
        & [data-el="rowOrderOwner"],
        // & [data-el="rowOrderOwner"]:hover,
        & [data-el="rowOrder"]:hover {
            border-color: var(--color-accent);
        }
        & [data-el="price"] {
            color: var(--color-accent);
        }
        & [data-el="volumeBar"] {
            & > div {
                background: var(--color-accent);
            }
        }
        & [data-el="volumeBar"]:before {
            border-color: transparent var(--color-accent) transparent transparent;
        }
    }
}

[data-el='arr_bids'] {
    & ul[data-el="title"] {
        border-color: var(--color-success) !important;
    }
    & ul[data-el="list"] {
        & [data-el="rowOrderOwner"],
        // & [data-el="rowOrderOwner"]:hover,
        & [data-el="rowOrder"]:hover {
            border-color: var(--color-success);
        }
        & [data-el="price"] {
            color: var(--color-success);
        }
        & [data-el="volumeBar"] {
            & > div {
                background: var(--color-success);
            }
        }
        & [data-el="volumeBar"]:before {
            border-color: transparent var(--color-success) transparent transparent;
        }
    }
}





// ORDERS OWNER
[data-el="ordersOwner"] {
    margin: 15px 0;

    & > li:nth-child(odd) {
        background: var(--color-bg);
    }

    & ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // border-top: solid 1px var(--color-divider);
        padding: 3px 5px;

        & li {
            // flex: 1 1 auto;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: var(--font-size-tiny);
        }
        & li:nth-child(1) {
            min-width: 10px;
            max-width: 10px;
        }
        & li:nth-child(2) {
            min-width: 30%;
            max-width: 30%;
        }
        & li:nth-child(3) {
            // min-width: 20%;
            // max-width: 20%;
        }
        & li:nth-child(4) {
            min-width: 14px;
            max-width: 14px;
        }


        & [data-el="iconDelete"] {
            font-size: var(--font-size-small);
            color: var(--color-text-secondary);
            cursor: pointer;
        }
        & [data-el="iconDelete"]:hover {
            color: var(--color-primary)
        }
        & [data-el="iconDelete"]:active {
            color: #fff;
            background: var(--color-primary);
        }
    }

    & [data-el="rowHeader"] {
        color: var(--color-text-secondary);
    }
}
