@import '../../../../style/global/global.scss';


.contentWrapper {
    min-width: 600px;
    max-width: 600px;
    padding: 30px;
}


.requestApiWrapper {
    & form {
        margin-bottom: 30px;
        & > ul {
            display: flex;
            & > li {
                flex: 1 1 auto;
            }
            & [data-li="button"] {
                max-width: 150px;
                & button {
                    margin: 0;
                }
            }

        }
    }
}
