@import '../../style/global/global.scss';



.calculatorWrapper {
    // border: solid 1px var(--color-divider);
    // border-radius: var(--border-radius);
    // padding: 15px 30px;
    & .message {
        font-size: var(--font-size-normal);
        color: var(--color-text-secondary);
        text-align: center;
    }
}

.formWrapper {
    display: block;
    // min-width: 300px;
    // margin: 0 auto;
    margin-top: 35px;
    & > ul {
        margin: 10px 0;
        display: flex;
        align-items: baseline;
        & > li {
            flex: 1 1 auto;
        }
        & [data-li="input"] {
            max-width: 180px;
        }
        & [data-li="number"] {
            min-width: 200px;
            padding: 0 0 15px 20px;
            white-space: nowrap;
            flex-wrap: wrap;
            font-size: var(--font-size-big);
            & ul[data-ul="meta"] {
                font-size: var(--font-size-tiny);
                color: var(--color-text-secondary);
                opacity: .5;
                transition: var(--transition-2);
                margin: 5px 0 0;
                cursor: default;
            }
            & ul[data-ul="meta"]:hover {
                opacity: 1;
            }
        }
        // flex: 1 1 50%;
        // max-width: calc(50% - 20px);
    }
    // & > li:nth-child(1) {
    //     max-width: calc(50% - 20px);
    // }
}



.ratesTable {
    margin: 10px 0 0;
    font-size: var(--font-size-small);
    color: var(--color-text-secondary);
    & [data-li="date"] {
        padding: 5px 0 0;
        font-size: var(--font-size-tiny);
        opacity: .5;
    }
}
