@import '../../style/global/global.scss';

.wrapper {
    background: #fdfdfd;
    height: 100%;
    width: 500px;

    & ul {
        list-style: none none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        height: 100%;

        & li {
            flex: 1 0 100%;
        }

        & li:nth-child(1) {
            padding: 0 25px;
            display: flex;
            align-items: center;
        }
        & li:nth-child(2) {
            height: calc(100% - 70px);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.iframe {
    visibility: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.iframe,
.iframeLoaded {
    transition: var(--transition-5);
    width: 100%;
    height: 100%;
    display: block;
}
