@import '../../style/global/global.scss';


.wrapper {
    background: #fff;
    @include screen(max, sm) {
        padding: 10px 0 20px;
    }
    @include screen(min, sm) {
        padding: 50px 0 80px;
    }
    & [data-content-inner] {
        text-align: center;

        & form {
            @include screen(min, sm) {
                width: 400px;
                margin: 0 auto;
            }
        }
    }
}
