.balanceData {
    margin: 20px 0;
    & > li {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        & [data-el="ticker"] {
            margin-left: 5px;
        }
    }
}
