@import '../../../style/global/global.scss';

.bar {
    display: flex;
    align-items: center;
    label {
        font-weight: var(--font-weight-thin);
        opacity: .5;
        font-size: var(--font-size-tiny);
        margin-right: 10px;
    }
}


.buttonLogin {
    color: inherit;
    text-decoration: none;
}
