@import '../../../style/global/global.scss';

.wrapper {
    height: 100%;
    width: 50vw;
    min-width: 500px;
}


.blockWrapper {
    padding: 20px;
}
.blockTitle {
    // border-bottom: solid 1px var(--color-divider);
    margin: 0;
    padding: 5px 0 20px;
    & ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & .title {
            display: flex;
            align-items: center;
            & img {
                margin-right: 15px;
            }
            & [data-el="short"] {
                font-weight: var(--font-weight-thin);
                margin-left: 25px;
            }
        }
    }
    & [data-el="rank"] {
        font-size: var(--font-size-tiny);
        font-weight: var(--font-weight-semi-bold);
        border-bottom: solid 3px var(--color-accent);
        color: var(--color-accent);
    }
}
.blockContract {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 5px 0 5px 15px;
    // border: solid 1px var(--color-divider);
    box-shadow: var(--shadow-2p);
    background: var(--color-bg);
    & li:nth-child(1) {
        font-size: var(--font-size-big);
    }
    & button {
        height: 36px;
    }
}


.blockChanges {
    display: flex;
    justify-content: space-between;
    border: solid 1px var(--color-divider);
    border-radius: var(--border-radius);
    padding: 15px 10px;
    margin: 0 0 10px 0;
    & li {
        text-align: center;
        flex: 1 1 25%;
        & label {
            font-size: var(--font-size-tiny);
            color: var(--color-text-secondary);
            display: block;
            margin: 0;
            padding: 0 0 5px;
        }
        & .material-icons {
            line-height: 0;
        }
    }
    & [data-color] {
        display: inline-flex;
        align-items: center;
    }
    & [data-color="danger"] {
        color: var(--color-accent);
    }
    & [data-color="success"] {
        color: var(--color-success);
    }
    & .updatedAt {
        color: var(--color-text-secondary);
        // font-size: var(--font-size-tiny);
    }


}

.blockLinks {
    padding: 15px 0;
    & ul {
        display: flex;
        & li {
            margin: 0 10px 5px 0;
            & a {
                display: inline-block;
                border: solid 1px var(--color-divider);
                border-radius: 50px;
                padding: 5px 10px;
                text-decoration: none;
                font-size: var(--font-size-tiny);
                color: var(--color-primary);
                transition: var(--transition-2);
                font-weight: var(--font-weight-semi-bold);
            }
            & a:hover {
                border-color: var(--color-primary);
            }
        }
        & li:last-child {
            margin-right: 0;
        }
    }
}

.blockChart {
    // border: solid 1px var(--color-divider);
    // border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    // background: var(--color-bg);
    min-height: 300px;
    width: 100%;
}
