@import '../../style/global/global.scss';

// @keyframes previewHover {
//    0% {
//       transform: translateY(0px);
//    }
//    65% {
//       transform: translateY(-30px);
//       box-shadow: var(--zdepth-shadow-5);
//    }
//    75% {
//       transform: translateY(0px);
//    }
//    85% {
//       transform: translateY(-10px);
//       box-shadow: none;
//    }
//    90% {
//       transform: translateY(0px);
//    }
//    95% {
//       transform: translateY(-5px);
//       // box-shadow: var(--zdepth-shadow-2);
//    }
//    100% {
//       transform: translateY(0px);
//    }
// }

.wrapper {
    // padding: 30px 0;

    & ul[data-block="preview"] {
        box-sizing: border-box;
        border-radius: 6px;
        background: #fff;
        box-shadow: 0 0 0 1px rgba(0,0,0, .10), 0 19px 60px rgba(0, 0, 0, 0.05), 0 15px 20px rgba(0, 0, 0, 0.07);
        display: flex;
        flex-direction: column;

        // width: 100%;
        max-width: 800px;
        // max-height: 450px;
        // @include screen(max, xxs) {
        //     // max-width: 267px;
        //     min-height: 200px;
        // }
        // @include screen(min, xxs) {
        //     // max-width: 400px;
        //     min-height: 250px;
        // }
        // @include screen(min, sm) {
        //     // max-width: 467px;
        //     min-height: 300px;
        // }
        // @include screen(min, md) {
        //     // max-width: 533px;
        //     min-height: 350px;
        // }
        // @include screen(min, lg) {
        //     // max-width: 600px;
        //     min-height: 400px;
        // }

        & [data-li="header"] {
            padding: 5px;
            background: var(--palette-grey-200);
            border-bottom: solid 1px var(--color-divider);
            border-radius: 6px 6px 0 0;
            display: flex;
            align-items: center;
            & > ul {
                display: flex;
                margin-right: 10px;
                & > li {
                    border-radius: 50%;
                    background: red;
                    width: 13px;
                    height: 13px;
                    margin: 0 3px 0;
                    opacity: .5;
                    transition: var(--transition-2);
                }
                & li:nth-child(1) {
                    background-color: var(--palette-pink-300);
                }
                & li:nth-child(2) {
                    background-color: var(--palette-yellow-700);
                }
                & li:nth-child(3) {
                    background-color: var(--palette-green-500);
                }
                & li:hover {
                    opacity: 1;
                }
            }
            & h5 {
                font-size: var(--font-size-tiny);
                font-weight: var(--font-weight-thin);
                color: var(--color-text-secondary);
                margin: 0;
                padding: 0;
                cursor: default;
                // line-height: 0;

                display: inline-block;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        & [data-bg] {
            max-height: 300px;
            overflow-x: hidden;
            overflow-y: auto;
            border-radius: 0 0 6px 6px;
            & img {
                width: 100%;
                // border-radius: 0 0 6px 6px;
                margin: 0 0 -6px 0;
            }
        }
        & [data-bg="overlay"] {
            cursor: pointer;
            transition: var(--transition-5);
            & img {
                transition: var(--transition-5);
            }
        }
        & [data-bg="overlay"]:hover {
            background: rgba(0,0,0,1);
            & img {
                opacity: .5;
            }
        }

        // & .bgOnClick {
        //     position: absolute;
        //     box-sizing: content-box;
        //     z-index: 1;
        //     width: 100%;
        //     min-height: 100%;
        //     border-radius: 0 0 6px 6px;
        //     cursor: pointer;
        //     transition: var(--transition-5);
        // }
        & .bgOnClick:hover {
            background: rgba(0,0,0, .7);
        }
    }
}
