{% extends "lockdown/base.html" %}

{% block title %}Coming soon...{% endblock %}


{% block content %}

{% load bootstrap %}
<div id="lockdown" class="container">
    <h2>Coming soon...</h2>

    <p>This is not yet available to the public.</p>

    {% if form %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form|bootstrap_horizontal }}

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Done!</button>
            </div>
        </div>
    </form>
    {% endif %}

</div>
{% endblock %}
