@import '../../style/global/global.scss';


.wrapper {
    & > ul {
        display: flex;
        box-shadow: var(--shadow-4p);
        border-radius: var(--border-radius);
        border: solid 1px var(--color-primary-lighten);
        padding: 10px;
        margin: 10px 0 0;
        & > li {
            flex: 1 1 auto;
        }
    }
    & [data-el="preview"] {
        max-width: 70px;
        min-width: 70px;
        margin-right: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
            width: 100%;
            max-width: 60px;
            max-height: 60px;
            transition: var(--transition-2);
        }
    }
    & [data-el="preview"]:hover {
        & img {
            opacity: .5;
        }
    }
    & [data-el="close"] {
        text-align: right;
        max-width: 30px;
        min-width: 30px;
        & > span {
            font-size: var(--font-size-normal);
        }
    }

    & [data-el="content"] {
        max-width: calc(100% - 120px);
        & ul {
            & li:nth-child(1) {
                height: 50px;
            }
        }
    }

    & [data-el="description"] {
        font-size: var(--font-size-tiny);
        color: var(--color-text-secondary);
        cursor: default;
    }
    & [data-el="link"] {
        font-size: var(--font-size-tiny);
    }

}

.isMobileInput {
    // position: relative;
    // display: flex;
    // align-items: center;
    // width: 100%;
    & > div {
        width: 100%;
        & input {
            padding-right: 50px;
        }
    }
    & button {
        margin: 6px 0 0 -50px;
        position: absolute;
        height: 50px;
        min-width: 50px;
        max-width: 50px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        // margin: 2px 0 0;
    }
}
