@import '../../style/global/global.scss';


ul.wrapper {

    @include screen(max, xs) {
        & > li {
            margin: 0 0 20px;
        }
    }
    @include screen(min, xs) {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0;
        & > li {
            flex: 1 1 50%;
            min-width: 50%;
            max-width: 50%;
            margin: 15px 0;
        }
    }
    @include screen(min, sm) {
        padding: 15px 0;
        & > li {
            flex: 1 1 33%;
            min-width: 33%;
            max-width: 33%;
        }
    }
}

.blockInner {
    display: flex;
    & [data-li="icon"] {
        display: flex;
        justify-content: center;
        @include screen(max, xs) {
            flex: 1 1 60px;
            min-width: 60px;
            max-width: 60px;
            margin-right: 20px;
        }
        @include screen(min, xs) {
            flex: 1 1 80px;
            min-width: 80px;
            max-width: 80px;
        }
        & > span {
            font-size: 40px;
            color: var(--color-primary);
            background: -webkit-linear-gradient(left, var(--palette-indigo-200), var(--palette-indigo-400));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        & [data-icon="metamask"] {
            & svg {
                height: 40px;
            }
        }
        & [data-icon="ethereum"] {
            // fill: var(--color-primary);
            & svg {
                height: 40px;
            }
        }
        & [data-icon="github"] {
            fill: var(--color-primary);
            & svg {
                height: 40px;
            }
        }

    }
    & [data-li="content"] {
        padding: 8px 0 0;
        & [data-el="subtext"] {
            margin: 10px 0 0;
            font-size: var(--font-size-tiny);
            color: var(--color-text-secondary);
        }
    }
}
