@import '../../../style/global/global.scss';



.docsWrapper {

    @include screen(min, md) {
        padding-bottom: 50px;
    }

    & .headerWrapper {
        // padding: 50px auto !important;
        // display: block;
        // align-items: center;
    }
    & .headerWrapperContent {
        @include screen(max, md) {
            display: block;
        }
        @include screen(min, md) {
            display: flex;
            align-items: center;
        }
    }

    & [data-content-inner="true"] {
        @include screen(max, md) {
            margin-top: -20px;
        }
    }
}

.pagesList {
    display: block;
    width: 100%;
    padding: 0 0 10px;
    & li {
        & ul[data-ul="title"],
        & ul[data-ul="titleActive"] {
            display: flex;
            width: 100%;
            align-items: center;
            cursor: pointer;
            transition: var(--transition-5);

            & [data-li="icon"] {
                min-width: 50px;
                max-width: 50px;
                & span {
                    font-size: 33px;
                }
            }
            & [data-li="text"] {
                font-weight: var(--font-weight-semi-bold);
                font-size: var(--font-size-big);
            }
            & [data-li="icon"] span,
            & [data-li="text"] {
                color: var(--color-text);
            }

        }
        & ul[data-ul="titleActive"] {
            & [data-li="icon"] span,
            & [data-li="text"] {
                color: var(--color-primary);
            }
        }

        & [data-el="description"] {
            border-bottom: solid 1px var(--color-divider);
            padding: 10px 0 30px 50px;
            margin: 0 0 30px;
            & ul {
                display: block;
                list-style: circle;
                margin-left: 20px;
                & li {
                    padding: 5px 0 5px 10px;
                }
            }
        }
    }
    & li:last-child {
        & [data-el="description"] {
            border: 0;
            margin: 0;
            padding-bottom: 0;
        }
    }

}
