@import '../../../../style/global/global.scss';


ul.smartContractBlock {
    display: flex;
    align-items: flex-start;
    margin: 30px 0 0 0;
    opacity: .5;
    transition: var(--transition-5);
    color: var(--color-success);
    font-size: var(--font-size-small);
    & > li {
        flex: 1 1 auto;
    }
    & > li:first-child {
        min-width: 40px;
        max-width: 40px;
        & [data-el="icon"] {
            font-size: 30px;
        }
    }
    & [data-el="links"] {
        & a {
            margin-right: 10px;
        }
    }
}
ul.smartContractBlock:hover {
    opacity: 1;
}


.AskBidForm {
    & .recommendPrice {
        border-bottom: solid 1px var(--color-divider);
        padding: 0 0 10px 0;
        color: var(--color-text-secondary);
    }
    & .total {
        margin: 20px 0 25px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & [data-el="totalLabel"] {
            font-weight: var(--font-weight-semi-bold);
        }
        & [data-el="totalNumber"] {
            margin-left: 10px;
            font-weight: var(--font-weight-semi-bold);
            color: var(--color-accent);
        }
    }
    & .actionButton {
        display: block;
        width: 100%;
    }
}
