@import '../../style/global/global.scss';


.supportWrapper {
    padding: 0 0 60px;
    .container {
        display: flex;
        padding: 20px;
        & li {
            flex: 1 1 auto;
        }
        & [data-li="form"] {
            max-width: 50%;
            min-width: 50%;
        }
    }
}

.supportWrapperForm {

}
.supportWrapperFormCompleted {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    & h3 {
        text-align: center;
        margin-bottom: 20px;
    }
}
