@import '../../../../style/global/global.scss';


.contentWrapper {
    min-width: 600px;
}

.wrapperTop {
    padding: 15px 30px;
    background: var(--color-bg);

    & ul[data-ul="header"] {
        display: flex;
        justify-content: space-between;
        // border-bottom: solid 1px var(--color-divider);
        padding-bottom: 15px;
        & li {
            flex: 1 1 auto;
        }
        & [data-li="favicon"] {
            min-width: 60px;
            max-width: 60px;
            & img {
                width: 40px;
            }
        }
        & [data-li="name"] {
            & [data-el="subname"] {
                font-size: var(--font-size-tiny);
                color: var(--color-text-secondary);
            }
        }
        & [data-li="updated"] {
            white-space: nowrap;
            font-size: var(--font-size-tiny);
            color: var(--color-text-secondary);
            text-align: right;
        }
    }

    & ul[data-ul="links"] {
        display: flex;
        // margin: 15px 0;
        & li {
            font-size: var(--font-size-small);
            & a {
                display: inline-block;
                border-radius: 50px;
                padding: 4px 7px;
                border: solid 1px var(--color-divider);
                margin: 0 5px 3px 0;
            }
        }
    }

}

.wrapperCalculator {
    padding: 30px;
    border-bottom: solid 1px var(--color-divider);
}

.wrapperCoinmarketcap {
    padding: 30px;
    border-bottom: solid 1px var(--color-divider);
}

.wrapperEthplorer {
    padding: 30px;
}
