@import '../../style/global/global.scss';


.pricingWrapper {

    @include screen(min, md) {
        padding-bottom: 50px;
    }
    & [data-content-inner="true"] {
        @include screen(max, md) {
            background: var(--color-primary);
            margin-top: -40px;
            margin-bottom: -20px;
        }
    }
}
