@import '../../../style/global/global.scss';



.boardHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 20px;
    & li:nth-child(1) {
        margin-right: 10px;
    }
    & .title {
        font-weight: var(--font-weight-bold);
        & span {
            font-weight: var(--font-weight-thin);
        }
    }
}
.wrapper {

    background: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-2p);
    & .container {
        display: flex;
        flex-wrap: wrap;
    }

    & .sidebar {
        box-sizing: border-box;
        flex: 1 1 300px;
        max-width: 300px;
        padding: 20px;
        & > ul {
            & > li {
                display: flex;
                justify-content: space-between;
                & > label {
                    margin-right: 5px;
                }
            }
        }
    }
    & .content {
        box-sizing: border-box;
        flex: 1 1 auto;
        border: solid 1px var(--color-divider);
        border-top: 0;
        border-bottom: 0;
        padding: 20px;
    }

    & [data-el="header"] {
        background: var(--color-bg);
        border-bottom: solid 1px var(--color-divider);
        margin: 0;
    }
    // & [data-el="box"] {
    //     border: solid 1px var(--color-divider);
    //     border-radius: var(--border-radius);
    // }
}



.blockTransactions {
    background: #fff;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-2p);
    margin: 15px 0 0;
    padding: 20px;

    & .transactionsList {
        margin-top: 30px;
        & ul {
            display: flex;
            justify-content: space-between;
            border-top: solid 1px var(--color-divider);
            & li {
                padding: 5px 0;
            }
            & [data-el="value"] {
                font-weight: var(--font-weight-bold);
            }
        }
    }
}
