@import '../../style/global/global.scss';

// FORM CONTAINER
.formWrapper {
    // box-shadow: inset 0px 0px 350px rgba(0,0,0, .2);
    @include screen(max, md) {
        background-image: none !important;
    }
    @include screen(min, md) {
        @include bgBreath;
    }

    @include screen(min, xs) {
        background-color: var(--color-primary);
        padding: 60px 20px;
        min-height: calc(100vh - var(--footer-height));
        display: flex;
        align-items: center;
        justify-content: center;
    }



    & [data-el="inner"] {
        padding: 30px;
        background: #fff;
        @include screen(min, xs) {
            box-shadow: 0px 0px 0px 4px rgba(0,0,0, .1);
            border-radius: var(--border-radius);
            width: 500px;
        }
        & [data-el="title"] {
            margin-bottom: 40px;
            text-align: center;
        }
    }
}
