{% load render_bundle from webpack_loader %}


<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="mainx-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% render_bundle 'main' extension='css' config='DEFAULT' %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ settings.GOOGLE_ANALYTICS }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ settings.GOOGLE_ANALYTICS }}');
    </script>

  </head>
  <body>
      <div class="container">

        <div id="root"></div>
        {% render_bundle 'main' extension='js' config='DEFAULT' %}

      </div>
  </body>
</html>
