@import '../../../../style/global/global.scss';


.dataList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & [data-el="label"] {
        font-weight: var(--font-weight-bold);
    }
    & [data-el="contractAddress"] {
        margin-left: 15px;
        color: var(--color-primary);
        text-decoration: underline;
        cursor: pointer;
    }
    & [data-el="contractAddress"]:hover {
        opacity: .7;
    }
}
