// :root {
//   --icon-metamask: url('../../assets/svg/like.svg');
// }


// .iconMetamask {
//     background-image: url('../../../../../assets/svg/like.svg');
//     display: inline-block;
//     text-indent: -9999px;
// }
/* .iconLike {
    background-image: url('../../images/svg/like.svg');
    display: inline-block;
    text-indent: -9999px;
}
.iconBitcoin {
    background-image: url('../../images/svg/bitcoin-logo.svg');
    -webkit-mask-image: url('../../images/svg/bitcoin-logo.svg');
    mask-image: url('../../images/svg/bitcoin-logo.svg');
    background-color: #fff;
    display: inline-block;
    text-indent: -9999px;

} */
