{% load staticfiles %}

<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
  </head>
  <body>
    {% block main %}{% endblock %}
  </body>
</html>

