@import '../../../style/global/global.scss';
// BACKGROUND BLOCK
.background {
  // background: url('../../assets/wallpaper.jpg');
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  @include screen(max, xs) {
    background-image: none !important;
    box-shadow: inset 0 0 250px rgba(0,0,0, .5);
  }
  @include screen(max, md) {
    min-height: calc(100vh - var(--topmenu-height-xs));
  }
  @include screen(min, md) {
    height: calc(100vh - var(--topmenu-height));
    min-height: 650px;
  }
  @include screen(min, lg) {
     @include bgBreath;
  }
  // padding: 60px 0;
  & ul.contentWrapper {
    // padding-top: var(--topmenu-height);
    @include screen(min, md) {
      display: flex;
      justify-content: space-between;
    }
  }

  & .contentLeft {
    color: #fff;
    @include screen(max, md) {
      text-align: center;
    }

    & [data-el="mobileIcon"] {
        display: none;
        @include screen(max, md) {
            display: block;
            & > div {
                display: inline-block;
                width: 100px;
                height: 100px;
                padding: 20px;
                box-sizing: content-box;
                border-radius: 50%;
                background: rgba(0,0,0, .2);
                box-shadow: 0 0 3px rgba(255,255,255, .4), 0 0 35px rgba(255,255,255, .2);

                margin-bottom: 20px;
                & svg {
                    fill: #fff;
                    height: 100px;
                }
            }
        }
    }

    & h1 {
      font-weight: var(--font-weight-bold);
      margin: 0 0 10px;
      @include screen(max, sm) {
        font-size: 40px;
      }
      @include screen(min, sm) {
        font-size: 50px;
      }
      @include screen(min, md) {
        font-size: 60px;
        text-shadow: var(--zdepth-shadow-2);
      }
      @include screen(min, lg) {
        font-size: 70px;
      }
    }

    & h2 {
      margin: 0;
      font-weight: var(--font-weight-semi-bold);
      @include screen(max, md) {
        font-size: 18px;
      }
      @include screen(min, md) {
        font-size: 25px;
        text-shadow: var(--zdepth-shadow-2);
      }
    }

    & .thesesList {
      display: flex;
      @include screen(max, md) {
        margin: 40px 0;
      }
      @include screen(min, md) {
        margin: 50px 0;
      }

      & li {
        background: rgba(0,0,0, .2);
        text-align: center;
        font-weight: var(--font-weight-normal);
        border-radius: var(--border-radius);
        margin-right: 10px;
        // font-size: var(--font-size-big);
        max-width: 50%;
        @include screen(max, md) {
          padding: 10px;
          font-size: var(--font-size-small);
        }
        @include screen(min, md) {
          padding: 15px 20px;
        }
      }

      & li:last-child {
        margin-right: 0;
      }
    }

    ul.actionsList {
      display: flex;
      @include screen(max, md) {
        flex-wrap: wrap;
      }

      & [data-li="download"] {
        @include screen(max, xs) {
          & button {
            display: block;
            width: 100%;
          }
        }
        @include screen(max, md) {
          flex: 1 0 100%;
          padding-bottom: 20px;
        }
      }

      & [data-li="other"] {
        display: flex;
        @include screen(max, md) {
          flex: 1 0 100%;
          justify-content: space-between;

          & a {
            flex: 1 1 50%;
            max-width: calc(50% - 10px);

            & button {
              width: 100%;
            }
            // margin-right: 15px;
          }
        }
      }

      & li {
        & a {
          text-decoration: none;
        }

        & button {
          white-space: nowrap;
          @include screen(min, md) {
            margin-right: 15px;
          }
        }

        & [data-button="outline"] {
          border: solid 1px rgba(255,255,255, .7);
          color: #fff;
        }

        & [data-button="outline"]:hover {
          background-color: rgba(255,255,255, .3);
        }
      }
    }

    .iconsList {
      margin: 30px 0 0;
      display: flex;
      @include screen(max, md) {
        justify-content: center;
      }

      & > li {
        margin: 0 10px 0 0;
        cursor: default;
        overflow: hidden;
        // background: rgba(255,255,255, .2);
        // border-radius: var(--border-radius);
        border: solid 3px rgba(255,255,255, .7);
        background: #fff;
        border-radius: 50%;
        // padding: 10px;
        position: relative;
        width: 30px;
        height: 30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: var(--color-primary);
        transition: var(--transition-5);
        cursor: pointer;
        box-shadow: var(--zdepth-shadow-2);

        & svg {
          fill: var(--color-primary);
          transition: var(--transition-5);
        }
      }

      & > li:hover {
        // background: rgba(255,255,255, .7);
        // opacity: .8;
        box-shadow: var(--zdepth-shadow-5);
        margin-top: -5px;
        margin-bottom: 5px;

        & svg {
          opacity: 0.7;
        }
      }
    }
  }

  & .contentRight {
    @include screen(max, md) {
      display: none;
    }

    @include screen(max, lg) {
        min-width: calc(450px + 30px);
    }
    @include screen(min, lg) {
        min-width: calc(600px + 30px);
    }

    & [data-el="preview"] {
      position: absolute;
      right: -6px;
      @include screen(max, lg) {
          width: 450px;
      }
      @include screen(min, lg) {
          width: 600px;
      }

    }
  }
}
// FAVICONS LIST

.faviconsListWrapper {
  @include screen(max, sm) {
      padding: 30px 0 0;
  }
  @include screen(min, sm) {
      margin: 0 0 30px;
      padding: 30px 0;
  }

  & ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;

    & li {
      display: flex;
      align-items: center;
      margin: 0;
      padding: 10px 5px 10px 10px;

      min-width: 120px;
      max-width: 120px;


      & img {
        margin-right: 10px;
      }

      & label {
        color: var(--color-text);
      }
    }
  }
}
// PREVIEW BLOCKS

.previewWrapperLeft,
.previewWrapperRight {
  @include screen(min, xs) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  padding: 30px 0;

  & > li {
    flex: 1 1 auto;
  }

  & [data-li="preview"] {
    // @include screen(max, sm) {
    //     width: 40%;
    //     min-width: 40%;
    //     max-width: 40%;
    // }
    @include screen(min, xs) {
      width: 50%;
      min-width: 50%;
      max-width: 50%;
    }
  }

  & [data-li="content"] {
    @include screen(max, xs) {
        padding: 30px 0 0;
    }
    @include screen(min, xs) {
      padding: 0 0 0 30px;
    }
    @include screen(min, sm) {
      padding: 0 0 0 50px;
    }

    & p,
    & [data-el="links"] {
      @include screen(max, md) {
          font-size: var(--font-size-normal);
      }
      @include screen(min, md) {
          font-size: var(--font-size-big);
      }
    }

    & ul[data-el="title"] {
      display: flex;
      align-items: center;
      margin: 0 0 10px;

      & [data-li="icon"] {
        @include screen(max, md) {
            margin-right: 10px;
        }
        @include screen(min, md) {
            margin-right: 20px;
        }

        & span {
          color: var(--color-primary);
          background: -webkit-linear-gradient(left, var(--palette-indigo-200), var(--palette-indigo-700));
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          @include screen(max, md) {
              font-size: 40px;
          }
          @include screen(min, md) {
              font-size: 60px;
          }
        }
      }

      & [data-li="icon-svg"] {
        @include screen(max, md) {
            margin-right: 10px;
            width: 35px;
            height: 35px;
        }
        @include screen(min, md) {
            margin-right: 20px;
            width: 50px;
            height: 50px;
        }

        & svg {
          fill: var(--color-primary);
        }
      }

    }

    & [data-el="links"] {
      & li {
        margin: 5px 0;
      }

      & li:before {
        content: "—";
        margin-right: 5px;
      }
    }
  }
}

.previewWrapperRight {
  & [data-li="preview"] {
    order: 2;
  }

  & [data-li="content"] {
    order: 1;
    @include screen(min, xs) {
      padding: 0 30px 0 0;
    }
    @include screen(min, sm) {
      padding: 0 50px 0 0;
    }
  }
}
// HOW IT WORKS: SCHEME

.schemeBlock {
  width: 100%;

  @include screen(max, xs) {
      padding: 20px;
      margin: 0 0 30px;
  }
  @include screen(min, xs) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 30px;
      margin: 30px 0;
  }

  & li {
    flex: 1 1 auto;
  }

  & [data-li="content"] {

    @include screen(min, xs) {
        flex: 1 1 50%;
        padding-left: 30px;
    }

    & p {
      font-size: var(--font-size-big);
    }
  }

  & [data-li="scheme"] {
    // background-size: auto;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    @include screen(max, xs) {
        // width: 640px;
        height: 280px;
    }

    @include screen(min, xs) {
        width: 640px;
        height: 380px;
    }
  }
}
// BLOCK PRICING

.blockPricing {
  // background: var(--palette-blue-50);
  @include screen(max, md) {
      background-image: none !important;
      background: var(--color-primary);
  }
  @include screen(min, md) {
      @include bgBreath;
  }
}
