@import '../../style/global/global.scss';


.donationsWrapper {
    padding: 20px;
    border: solid 1px var(--color-divider);
    border-radius: var(--border-radius);
    background: rgba(0,0,0, .05);
    box-shadow: inset 0px 1px 6px rgba(0,0,0, .15)

}

ul.donationsList {
    & li {
        padding: 5px 0;
        @include screen(min, sm) {
            display: flex;
            align-items: center;
        }
        & label {
            font-weight: var(--font-weight-semi-bold);
            min-width: 100px;
            display: block;
        }
        & span {
            word-break: break-all;
        }
    }

}
