@import '../../../style/global/global.scss';


.supportWrapper {
    // padding: 0 0 60px;
}

.supportWrapperForm {

}
.supportWrapperFormCompleted {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 20px;
    & h4 {
        text-align: center;
        margin-bottom: 20px;
    }
}
