@import '../../style/global/global.scss';

// :root {
//     --chartHeight: 400px;
// }

.wrapper {
    width: 100%;

    // & .overlay {
    //     position: relative;
    //     z-index: 99;
    //     opacity: 0;
    //     width: 100%;
    //     height: 400px;
    //     margin-bottom: -400px;
    //     transition: var(--transition-2);
    //     border-radius: var(--border-radius);
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     color: #fff;
    //     font-size: var(--font-size-big);
    //     cursor: pointer;
    //     text-shadow: var(--zdepth-shadow-3), var(--zdepth-shadow-2), var(--zdepth-shadow-1), var(--zdepth-shadow-1);
    // }
    // & .overlay:hover {
    //     opacity: 1;
    //     background: rgba(0,0,0, .3);
    // }
    & .chart {
        // padding: 20px;
    }
}
