// transitions
@keyframes breath {
  0% {
    background-size: 110% auto;
    // transform: scale(1.5);
  }
  50% {
    background-size: 140% auto;
  }
  80% {
    background-size: 110% auto;
  }
  100% {
    background-size: 110% auto;
  }
}


@mixin bgBreath() {
    animation: breath 25s ease-in-out infinite;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    // background-attachment: fixed;
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-clip: border-box;
    // background-size: cover;
}

// @include bgBreath
