@import '../../style/global/global.scss';

.userStocksWrapper {
    margin-bottom: 50px;
    & [data-box] {
        padding: 30px;
    }
}
.stocksEmptyWrapper {
    text-align: center;
    padding: 50px 30px;
    & a {
        text-decoration: none;
        display: inline-block;
    }
}


.stocksListWrapper {
    & .stocksListHeader {
        text-align: right;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: solid 1px var(--color-divider);
    }
    & ul.stocksListContainer {
        & > li {
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: solid 1px var(--color-divider);
        }
        & > li:last-child {
            padding-bottom: 0;
            margin-bottom: 0;
            border-bottom: 0;
        }

        & [data-ul="content-header"] {
            display: flex;
            justify-content: space-between;
            & li {
                flex: 1 1 auto;
            }
            & [data-li="favicon"] {
                max-width: 50px;
                min-width: 50px;
                padding: 5px 0 0;
            }
            & [data-li="remove"] {
                min-width: 35px;
                max-width: 35px;
                text-align: right;
            }
        }
        & [data-ul="content-inner"] {
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;
            @include screen(min, md) {
                padding-left: 50px;
            }
            & > li {
                flex: 1 1 50%;
                min-width: 250px;
            }
            @include screen(min, xs) {
                & > li {
                    padding-right: 10px;
                }
                & > li:last-child {
                    padding-right: 0;
                }
            }

        }


        & h1 {
            // margin-bottom: 15px;
        }
        & h4 {
            margin: 0 0 15px;
            padding: 0;
            font-weight: var(--font-weight-thin);
            font-size: var(--font-size-tiny);
            // color: var(--color-text-secondary);

            display: flex;
            align-items: center;
            flex-wrap: wrap;
            & strong {
                margin-right: 10px;
            }
            & a {
                word-break: break-all;
                // white-space: nowrap;
                // overflow: hidden;
                // text-overflow: ellipsis;
            }
        }
        @include screen(max, sm) {
            & button {
                display: block;
                width: 100%;
                margin-top: 10px;
            }
        }
        & ul[data-list="meta"] {
            & li {
                padding: 0 0 5px;
                display: flex;
                align-items: flex-start;
                & label {
                    font-weight: var(--font-weight-semi-bold);
                    margin-right: 5px;
                    max-width: 100px;
                    min-width: 100px;
                    margin: 0;
                    padding: 0;

                    display: inline-block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
                & > div {
                    display: inline-flex;
                    flex-wrap: wrap;
                    white-space: nowrap;
                }
            }
        }
    }
}




// DIALOG DOWNLOAD
ul.dialogContent {
    & > li {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: solid 1px var(--color-divider);
    }
    & > li:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border: 0;
    }
    & [data-li="code"] {
        & code {
            display: block;
            margin: 10px 0;
            padding: 10px;
            border: solid 1px var(--color-divider);
            border-radius: var(--border-radius);
            font-size: var(--font-size-tiny);
        }
    }
}
