@import '../../../style/global/global.scss';


.demoWrapper {

    @include screen(max, md) {
        padding: 20px;
    }
    @include screen(min, md) {
        padding: 0 0 60px 0;
    }
    & > ul {
        @include screen(min, xs) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            & > li {
                flex: 1 1 auto;
                // margin-right: 60px;
                max-width: calc(50% - 15px);

            }
            & > li:last-child {
                margin-right: 0;
            }
        }
        & > li {
            @include screen(max, xs) {
                padding: 20px;
            }
            @include screen(min, xs) {
                margin-right: 30px;
            }
        }

    }

    & .actions {
        padding: 30px 0 0;
        text-align: center;
    }
}
