@import '../../../style/global/global.scss';



.filtersWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 20px 0;
}

.preloadBar {
    display: block;
}


.expansionPanel {

    & [data-expansion] {
        background: #fff;
        box-shadow: var(--shadow-2p);
        border-radius: var(--border-radius);
        margin: 0 0 10px;
    }
    & [data-expansion="show"] {
        margin: 10px 0;
        & [data-expansion-inner] {
            display: block;
        }
    }
    & [data-expansion="hide"] {
        & [data-expansion-inner] {
            display: none;
        }
    }
    & [data-expansion="hide"]:hover {
        transition: var(--transition-2);
        background: var(--color-bg-primary);
    }

    & ul[data-expansion-header] {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 10px 20px;
        box-sizing: border-box;
        cursor: pointer;

        & > li {
            flex: 1 1 auto;
        }

        & [data-container="icon"] {
            min-width: 50px;
            max-width: 50px;
            text-align: right;
            margin-right: -5px;
            color: var(--color-text-secondary);
        }

        & [data-container="data"] {
            & > ul {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                & li {
                    margin-left: 15px;
                    text-align: right;
                }
                & [data-li="volume"] {
                    // width: 150px;
                }
                & [data-li="profit"] {
                    white-space: nowrap;
                    min-width: 200px;
                    & [data-span="from"] {
                        margin: 0 5px;
                    }
                }
                & [data-li="median"] {
                    width: 70px;
                }
                & label {
                    color: var(--color-text-secondary);
                    margin-left: 5px;
                }
            }
        }
    }

    & [data-expansion-inner] {
        padding: 10px 20px;
        box-sizing: border-box;
        & > ul {
            display: flex;
            width: 100%;
            & > li {
                flex: 1 1 auto;
                margin-right: 15px;
                box-sizing: border-box;
            }
            & > li:last-child {
                margin-right: 0;
            }
        }
        & [data-inner="orders"] {
            min-width: 30%;
            max-width: 30%;
        }
        // & [data-inner="transactions"] {
        //     min-width: 40%;
        //     max-width: 40%;
        // }
    }


}





// ORDERS LIST
.ordersList {
    min-width: 250px;
    & [data-el="rowHeader"] {
        background: #fff;
        color: var(--color-text-secondary);
        text-transform: uppercase;
        & li {
            font-size: var(--font-size-tiny) !important;
        }
    }
    & [data-el="rowHeader"],
    & [data-el="rowFooter"],
    & [data-el="row"] {
        display: flex;
        border: solid 1px transparent;
        // border-bottom-color: var(--color-divider);
        margin: 0 0 1px;
        cursor: default;
        position: relative;
        & li {
            flex: 1 1 auto;
            text-align: right;
            min-width: 33%;
            max-width: 33%;
            font-size: var(--font-size-small);
            padding: 3px 0;
        }
        & [data-li="price"] {
            font-weight: var(--font-weight-semi-bold);
        }
        & label {
            display: block;
            font-size: var(--font-size-tiny);
            color: var(--color-text-secondary);
            font-weight: var(--font-weight-thin);
        }
        & [data-span="from"] {
            margin: 0 5px;
        }
    }
    & [data-volume] {
        margin: 0 0 -37px;
        padding: 0;
        display: flex;
        justify-content: flex-end;
        pointer-events: none;
        & > div {
            transition: var(--transition-5);
            height: 37px;
            opacity: .15;
        }
    }
    & [data-el="body"] {
        // z-index: 1;
        height: 300px;
        overflow-y: auto;
        // & > ul:nth-child(odd) {
        //     background: var(--color-bg);
        // }
        & [data-el="row"]:hover {
            // background: #fff;
            z-index: 9;
        }
    }
    & [data-el="rowFooter"] {
        background: #fff;
        font-weight: var(--font-weight-semi-bold);
        border-top: solid 1px var(--color-divider);
    }
}

.ordersListHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 10px;
    padding: 0 0 10px;
    border-bottom: solid 2px;
    & > li:nth-child(2) {
        text-align: right;
    }
    & [data-el="title"] {
        border-bottom: solid 1px var(--color-divider);
        & a {
            color: var(--color-text);
            text-decoration: none;
        }
    }
}
[data-type="sell"] {
    .ordersListHeader {
        border-color: var(--color-success);
    }
    .ordersList {
        & [data-el="row"] {
            & [data-li="price"] {
                color: var(--color-success);
            }
        }
        & [data-hover="true"],
        & [data-el="row"]:hover {
            border-color: var(--color-success);
        }
        & [data-volume] > div {
            background: var(--color-success);
        }
    }
}
[data-type="buy"] {
    .ordersListHeader {
        border-color: var(--color-accent);
    }
    .ordersList {
        & [data-el="row"] {
            & [data-li="price"] {
                color: var(--color-accent);
            }
        }

        & [data-hover="true"],
        & [data-el="row"]:hover {
            border-color: var(--color-accent);
        }
        & [data-volume] > div {
            background: var(--color-accent);
        }
    }
}


// TRANSACTIONS LIST
.transactionsListHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 15px 0;
    margin: 0 0 13px;
    border-bottom: solid 2px var(--color-divider);
}
.transactionsList {
    min-width: 250px;
    & [data-el="rowHeader"] {
        background: #fff;
        color: var(--color-text-secondary);
        text-transform: uppercase;
        & li {
            font-size: var(--font-size-tiny) !important;
        }
    }
    & [data-el="rowFooter"] {
        font-weight: var(--font-weight-bold);
        margin: 0;
        border-top: solid 1px var(--color-divider);
    }

    & [data-el="rowHeader"],
    & ul {
        display: flex;
        & li {
            flex: 1 1 auto;
            min-width: 33%;
            max-width: 33%;
            font-size: var(--font-size-small);
            padding: 3px 0;
            text-align: right;
        }
        // & li:nth-child(1),
        // & li:nth-child(2),
        // & li:nth-child(3) {
        //     min-width: calc( ( 100% - 50px ) / 4 );
        //     max-width: calc( ( 100% - 50px ) / 4 );
        // }
        // & li:nth-child(4) {
        //     min-width: 50px;
        //     max-width: 50px;
        // }
    }

    & [data-el="body"] {
        height: 300px;
        overflow-y: auto;

        & [data-group] {
            border: solid 1px transparent;
            margin: 0 0 -1px;
            position: relative;
            cursor: default;
        }
        & [data-group]:hover {
            border-color: var(--color-primary);
            background: #fff !important;
            z-index: 1;
        }
        & [data-group]:nth-child(odd) {
            background: var(--color-bg);
        }
        // & [data-li="profit"] {
        //     font-weight: var(--font-weight-semi-bold);
        // }
    }

    & [data-el="body"],
    & [data-el="rowFooter"] {
        & label {
            display: block;
            font-size: var(--font-size-tiny);
            color: var(--color-text-secondary);
            font-weight: var(--font-weight-thin);
        }
    }

    & [data-from] {
        margin: 0 4px;
    }
}
