@import '../../../style/global/global.scss';

.formWrapper {
    & > ul {
        & > li {
            padding: 5px 0;
        }
        & [data-li="token-creation"] {
            padding: 0 0 20px 0;
            text-align: center;
            // font-weight: var(--font-weight-semi-bold);
            font-size: var(--font-size-big);
        }
    }

}



.fileuploadWrapper {
    margin: 25px 0;
}
.fileuploadPreview {
    position: relative;

    & [data-el="image"] {
        box-sizing: border-box;
        position: relative;
        padding: 20px;
        border-radius: var(--border-radius);
        // border: solid 1px var(--color-divider);
        box-shadow: var(--shadow-2p);
        text-align: center;
        pointer-events: none;
        & img {
            width: 100%;
            max-width: 150px;
            max-height: 150px;
        }
    }

    & [data-el="close"] {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
