@import '../../style/global/global.scss';

.formWrapper {
    & > ul {
        & > li {
            padding: 0;
        }
    }

}

.responseWrapper {
    & code {
        background: var(--color-bg);
        box-sizing: border-box;
        border-radius: var(--border-radius);
        border: solid 1px var(--color-divider);
        display: block;
        padding: 5px;
        word-break: break-all;
        font-size: var(--font-size-small);
        margin: 15px 0;
    }
    & [data-el="label"] {
        margin-left: 5px;
        margin-right: 5px;
    }
}


.fileuploadWrapper {
    margin: 25px 0;
}
.fileuploadPreview {
    position: relative;

    & [data-el="image"] {
        box-sizing: border-box;
        position: relative;
        padding: 20px;
        border-radius: var(--border-radius);
        // border: solid 1px var(--color-divider);
        box-shadow: var(--shadow-2p);
        text-align: center;
        pointer-events: none;
        & img {
            width: 100%;
            max-width: 150px;
            max-height: 150px;
        }
    }

    & [data-el="close"] {
        position: absolute;
        top: 10px;
        right: 10px;
    }
}
.fileuploadAction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    & li:nth-child(1) {
        margin-right: 20px;
    }
    & li:nth-child(2) {
        color: var(--color-text-secondary);
        font-size: var(--font-size-small);
    }
}
