@import '../../../../style/global/global.scss';

.AskBidForm {
    & label {
        font-size: var(--font-size-tiny);
        color: var(--color-text-secondary);
    }
    & .priceRangeLabel {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 0;
        & [data-el="recommend"] {
            font-size: var(--font-size-tiny);
            color: var(--color-text-secondary);
            & span {
                color: var(--color-primary);
                text-decoration: underline;
                margin: 0 0 0 5px;
                cursor: pointer;
                transition: var(--transition-2);
            }
            & span:hover {
                opacity: .7;
            }
        }
    }
    & .total {
        padding: 10px 10px;
        margin: 10px 0;
        border: solid 1px var(--color-accent);
        border-radius: var(--border-radius);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        & [data-el="totalLabel"] {
            font-weight: var(--font-weight-semi-bold);
        }
        & [data-el="totalCoin"] {
            color: var(--color-text-secondary);
            font-weight: var(--font-weight-normal);
        }
        & [data-el="totalNumber"] {
            margin-left: 10px;
            font-weight: var(--font-weight-semi-bold);
            color: var(--color-accent);
        }
    }
    & [data-el="hint"] {
        margin: 10px 0;
        background: var(--color-bg);
        border: solid 1px var(--color-divider);
        border-radius: var(--border-radius);
        padding: 5px;
        font-size: var(--font-size-tiny);
        color: var(--color-text-secondary);
    }
}
