@import '../../../style/global/global.scss';


// TABLE
[data-table="coinslist"] {

    // Add to favorite (button)
    & [data-icon-favorite] {
        margin-left: 10px;
        & [data-icon-favorite-innner="on"] {
            display: none;
        }
        & [data-icon-favorite-innner="off"] {
            display: inline-block;
        }
    }
    & [data-icon-favorite]:hover {
        & [data-icon-favorite-innner="on"] {
            display: inline-block;
        }
        & [data-icon-favorite-innner="off"] {
            display: none;
        }
    }
    & [data-icon-favorite="selected"] {
        & [data-icon-favorite-innner="on"] {
            display: inline-block;
        }
        & [data-icon-favorite-innner="off"] {
            display: none;
        }
    }


    // Ticker name column
    & [data-ul="coin-name"] {
        display: flex;
        align-items: center;
        & [data-li="favicon"] {
            min-width: 50px;
            max-width: 50px;
            & img {
                width: 32px;
            }
        }
        & [data-li="name"] {
            display: flex;
            align-items: center;
            & label {
                font-weight: var(--font-weight-semi-bold);
                font-size: var(--font-size-big);
            }
            & span {
                font-size: var(--font-size-small);
                color: var(--color-text-secondary);
                margin-left: 10px;
            }
        }
    }

    // Column with buttons
    & [data-column="buttons"] {
        text-align: right;
    }
}



// PRICE CONTROLS
ul.tablePriceControls {
    display: flex;
    border-radius: var(--border-radius);
    & li {
        padding: 4px 7px;
        cursor: pointer;
        transition: var(--transition-2);
        border: solid 1px var(--color-divider);
        border-left: 0;
        border-right: 0;
    }
    & li:hover {
        background-color: var(--color-bg);
    }
    & li:first-child {
        border-radius: var(--border-radius);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-left: solid 1px var(--color-divider);
    }
    & li:last-child {
        border-radius: var(--border-radius);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: solid 1px var(--color-divider);
    }
    & li[data-selected="true"] {
        background: var(--color-accent);
        color: #fff;
        border-color: var(--color-accent);
    }
}
