@import '../../../style/global/global.scss';


ul.metamaskWrapper {
    padding: 30px;
    display: flex;
    & > li {
        flex: 1 1 auto;
    }

    & [data-li="youtube"] {
        // flex: 1 1 50%;
        min-width: 40%;
        text-align: center;
        margin-right: 30px;
        & iframe {
            border: 0;
            width: 100%;
            height: 300px;
        }
    }
    & [data-li="content"] {

        & [data-el="title"] {
            display: flex;
            align-items: center;
            & > li:first-child {
                width: 50px;
                margin-right: 20px;
                & [data-icon="metamask"] {
                    min-height: 80px;
                    max-height: 80px;
                    & svg {
                        height: 80px;
                    }
                }
            }
        }
    }
}
