@import '../../../style/global/global.scss';

[data-content-inner="fishrod"] {
    padding: 0 0 50px 0;
    & .dataPreloader {
        height: 70px;
    }
    & small {
        color: var(--color-text-secondary);
    }
}

.fishrodContainer {
    margin: 0 0 15px;
}
.expansionPanel {
    & .headerWrapperContent {
        & > ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            & li {
                flex: 1 1 auto;
            }
            & [data-li="title"] {
                min-width: 30%;
                max-width: 30%;

                flex-basis: 33.33%;
                flex-shrink: 0;
                & h2 {
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    & [data-icon] {
                        margin-right: 10px;
                        display: none;
                        padding-bottom: 0;
                    }
                    & nobr {
                        margin-left: 5px;
                    }
                }
            }
            & [data-li="errors"] {
                display: flex;
                & li {
                    margin-left: 5px;
                }
                & li:after {
                    content: ', '
                }
                & li:last-child:after {
                    content: ''
                }
            }
            & [data-li="autopilot"] {
                min-width: 15%;
                max-width: 15%;
                & .autopilotSwitch {
                    height: auto;
                }
            }
            & [data-li="created"] {
                min-width: 20%;
                max-width: 20%;
                color: var(--color-text-secondary);
            }
        }
    }
}
[data-status="completed"] {
    opacity: .7;
    & [data-icon="completed"] {
        display: inline-block !important;
    }
}
[data-status="progress"] {
    & [data-icon="progress"] {
        display: inline-block !important;
    }
}

.fishrodDataWrapper {
    display: flex;
    justify-content: space-between;

    // & > div {
    //     flex: 1 1 auto;
    // }
    & ul.details {
        & [data-li="divider"] {
            height: 10px;
        }
        & > li {
            display: flex;
            flex-wrap: wrap;
            font-size: var(--font-size-small);
            padding: 3px 0;
            & > label {
                font-weight: var(--font-weight-semi-bold);
                min-width: 150px;
                max-width: 150px;
            }
            & > div {
                // display: flex;
                // flex-wrap: wrap;
                & [data-link] {
                    white-space: nowrap;
                    display: block;
                }
            }
        }
    }
    & .ordersBook {
        min-width: 400px;
        max-width: 400px;
        border-radius: var(--border-radius);
        border: solid 1px var(--color-divider);

        & [data-ul="header"] {
            color: var(--color-text-secondary);
            text-transform: uppercase;
            display: flex;
            padding: 5px;
            background-color: var(--color-bg);
            & li {
                flex: 1 1 calc((100% - 70px) / 3);
                min-width:  calc((100% - 70px) / 3);
                max-width:  calc((100% - 70px) / 3);
                text-align: right;
                font-size: var(--font-size-tiny);
            }
            & li:last-child {
                flex: 1 1 70px;
                max-width: 70px;
                min-width: 70px;
                color: var(--color-text-secondary);
            }
        }

        & [data-el="footer"] {
            text-align: center;
            font-size: var(--font-size-tiny);
            color: var(--color-text-secondary);
            background-color: var(--color-bg);
            padding: 5px;
        }

        & [data-el="inner"] {
            overflow-y: auto;
            height: 270px;
            padding: 5px;
            border: solid 1px var(--color-divider);
            border-left: 0;
            border-right: 0;

            & > ul[data-selected="true"] {
                border-color: var(--color-accent);
                color: var(--color-accent);
            }
            & > ul {
                display: flex;
                align-items: center;
                font-size: var(--font-size-tiny);
                padding: 2px;
                border: solid 1px transparent;
                cursor: default;
                & > li {
                    flex: 1 1 calc((100% - 70px) / 3);
                    min-width:  calc((100% - 70px) / 3);
                    max-width:  calc((100% - 70px) / 3);
                    text-align: right;
                }
                & li:last-child {
                    flex: 1 1 70px;
                    max-width: 70px;
                    min-width: 70px;
                    opacity: .5;
                    text-align: right;
                }
            }
            & > ul:hover {
                border-color: var(--color-primary);
            }
        }
    }

}

.middleBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: solid 1px var(--color-divider);
    margin: 20px 0 0;
    padding: 20px 0 0;

    .formPrice {
        & > ul {
            display: flex;
            & > li {
                & button {
                    margin: 0;
                }
            }
        }
    }
    ul.listMessages {
        & > li {
            font-size: var(--font-size-tiny);
            color: var(--color-accent);
        }
    }
}

ul.listBottom {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px var(--color-divider);
    margin: 10px 0 0;
    padding: 20px 0 0;
    & > li {
        // flex: 1 1 25%;
        min-width: 150px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        & > label {
            font-weight: var(--font-weight-semi-bold);
            margin-right: 5px;
        }
        & > div {
        }
        & small {
            display: block;
            min-width: 100%;
        }
    }
}
