@import '../../../style/global/global.scss';


.wrapper {
    // background: var(--palette-blue-50);
}
.pricingList {

    @include screen(min, sm) {
        display: flex;
        padding: 30px 0;
    }
    & > ul {
        flex: 1 1 auto;
        background: #fff;
        border-radius: 5px;
        padding: 35px 20px;
        cursor: default;
        @include screen(max, sm) {
            margin-bottom: 20px;
        }
        @include screen(min, sm) {
            transition: var(--transition-5);
            flex: 1 1 33%;
            margin-right: 20px;
        }
    }
    & ul:last-child {
        margin-right: 0;
    }
    & > ul:hover {
        @include screen(min, md) {
            box-shadow: var(--zdepth-shadow-5);
            margin-top: -10px;
            margin-bottom: -10px;
        }
    }
    & [data-li="plan"] {
        text-align: center;
        text-transform: uppercase;
        color: var(--color-text-secondary);
        font-weight: var(--font-weight-semi-bold);
        font-size: var(--font-size-small);
    }
    & [data-li="price"] {

        text-align: center;
        font-weight: var(--font-weight-bold);
        margin: 15px 0;
        @include screen(max, xs) {
            font-size: 30px;
        }
        @include screen(min, xs) {
            font-size: 50px;
        }
    }
    & [data-li="list"] {
        & ul {
            & li {
                text-align: center;
                font-weight: var(--font-weight-thin);
                padding: 5px 0;
            }
        }
    }
    & [data-li="button"] {
        margin: 15px 0 0;
        text-align: center;
        & a {
            text-decoration: none;
        }
    }
}
