{% load render_bundle from webpack_loader %}


<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="mainx-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% render_bundle 'main' extension='css' config='LANDING' %}

  </head>
  <body>
      <div class="container">

        <div id="root"></div>
        {% render_bundle 'main' extension='js' config='LANDING' %}

      </div>
  </body>
</html>
