@import '../../../../style/global/global.scss';


.dataList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .dataListInfo {
        & > li {
            display: flex;
            & label {
                font-weight: var(--font-weight-bold);
                min-width: 130px;
                max-width: 130px;
            }
        }
    }

}
