@import '../../../style/global/global.scss';


.leftMenu {
    overflow-y: auto;
    max-height: calc(100vh - var(--topmenu-height));
}


[data-menu-drawer="inactive"] {
    & [data-menu-label] {
        display: none;
    }
}
